.navbar-lewagon {
  justify-content: space-between;
  background: rgb(230, 219, 219);
}
.nav-link {
  font-size: 22px;
  color: rgb(98, 17, 17);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
